<p class="bigger">Seriez-vous prête ou prêt à <b class="bigger">révolutionner le monde de l'autoédition</b> et, ce faisant, à révolutionner le monde de l'édition tout court ? (il en a bien besoin, n’est-ce pas ?)</p>
<p> </p>
<p class="bigger">Seriez-vous prête ou prêt à <b class="bigger">sauver et mettre en lumière</b> tous les ouvrages passionants que l'édition officielle jette aux orties sous prétexte de « lignes éditoriales » ?</p>
<p> </p>
<p class="bigger">Si vous êtes prête ou prêt à tout ça, alors <b class="bigger">vous vous trouvez au bon endroit</b>.</p>
<p> </p>
<p class="bigger">Et pour vous en convaincre définitivement, vous pouvez lire le <a href={~p"/vitrine/manifeste"}>manisfeste du label « Lecture de qualité »</a>.</p>