<p>BIENVENUE DANS LA VITRINE DU LABEL</p>
<p>Seriez-vous prête ou prêt à révolutionner le monde de l'autoédition et, partant, le monde de l'édition ?</p>
<p>Seriez-vous prête ou prêt à sauver et mettre en lumière tous les ouvrages passionant que l'édition officielle jette à la poubelle ?</p>
<p>Si vous êtes prête ou prêt à tout ça, ou seulement une partie de tout ça, alors vous vous trouvez au parfait endroit.</p>
<p>Et pour vous en convaincre, vous pouvez lire le <a href={~p"/vitrine/manifeste"}>manisfeste du label « Lecture de qualité »</a></p>