<p class="bigger">Vous sentez-vous prête ou prêt à…</p>
  <p><center><b class="bigger">… révolutionner le monde de l'autoédition ?</b></center></p><p>— il en a bien besoin, non ? — et, ce faisant, à révolutionner le monde de l'édition tout court ? </p>
<p> </p>
<p class="bigger">Vous sentez-vous prête ou prêt à…</p>
  <p><center><b class="bigger">… sauver et mettre en lumière les ouvrages passionants…</b></center></p>
  <p>… que l'édition officielle jette malheureusement aux orties sous prétexte de « lignes éditoriales » ?</p>
<p> </p>
<p class="bigger">Si vous êtes prête ou prêt à tout ça, alors <b class="bigger">vous vous trouvez pile au bon endroit</b> !</p>
<p> </p>
<p class="bigger">Et pour vous en convaincre définitivement, vous pouvez lire le <a href={~p"/vitrine/manifeste"}>manisfeste du <b>LABEL « LECTURE DE QUALITÉ »</b></a>.</p>