select,
button,
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
label {
  font-size: inherit;
  font-family: inherit;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
}
main a, main a:link, main a:visited, main a:hover {
  color: orange;

}