@media screen and (min-width: 800px) {
  body { 
    padding: 4em;
  }
}

@media screen and (min-width: 600px) {
  body { 
    padding: 2em;
  }
}

@media screen and (max-width: 599px) {
  body { 
    padding: 0.5em;
  }
}