body {
  max-width: 840px;
  font-family: BelFonte;
  font-size:15.3pt;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0.5em 0 0.5em 2em;
  width: 640px;
  line-height: 1.4em;
  padding:0;
}

a {
  text-decoration: none;
}

nav.main {
  margin-bottom: 2em;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-align: right;
  border-bottom: 1px solid #DDD;
  margin-bottom: 2em;
}
header a {
  margin-left: 2em; 
  font-size: 9pt;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  
}