body {
   font-size:14.5pt;
   max-width: 840px;
}
h1, h2, h3 {
  font-weight: normal;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin:0;
  padding:0;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-align: right;
  border-bottom: 1px solid #DDD;
}
header a {
  margin-left: 2em; 
  font-size: 9pt;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  
}